@font-face {
    font-family: ProximaNova;
    src: url(./fonts/ProximaNova-Extrabld.ttf);
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*Header*/

.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-brand {
    color: #173765;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-text {
    color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a {
    color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #173765;
    font-weight: bold;
    background-color: #ffffff;

    text-decoration: none;
    border-bottom: 3px solid #fab917;
    margin-bottom: -5px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #173765;
    font-weight: bold;
    background-color: #ffffff;
}
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-link {
    color: #173765;
    font-weight: bold;
}
.navbar-default .navbar-link:hover {
    color: #173765;
    font-weight: bold;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #173765;
        font-weight: bold;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #173765;
        font-weight: bold;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #173765;
        font-weight: 900;
        background-color: #ffffff;
    }
}

.logo-text {
    font-family: ProximaNova;
    font-size: 42px;
    color: #161f57;
    padding-bottom: 0px;
}
#logo-text-1 {
    color: #1b245b;
    display: inline;
    background: -webkit-linear-gradient(#6489be, #1b245b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logo-text-2 {
    color: #1587e0;
    display: inline;
    background: -webkit-linear-gradient(#d0e6ff, #1587e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#logo-text-3 {
    color: #1c76d0;
    display: inline;
}

#logo-rectangle-1 {
    border: 1px solid #415d9d;
    color: #fff;
    font-size: 15px;
    background-color: #415d9d;
    width: 470px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}
#logo-rectangle-2 {
    margin-top: 5px;
    border: 1px solid #82aee5;
    color: #fff;
    font-size: 13px;
    background-color: #82aee5;
    width: 470px;
    border-radius: 0 0 10px 0;
    padding-left: 10px;
    padding-top: 1px;
}

.inform-table {
    padding-top: 20px;
    padding-right: 3px;
    display: inline-block;
    float: right;
}

.social-icon {
    padding-top: 3px;
    padding-right: 3px;
    display: inline-block;
    float: right;
}

.ph-num {
    display: inline-block;
    color: #2d4871;
    margin-right: 5px;
    font-weight: bold;
    vertical-align: -2px;
}

.footer{
    color: #ffffff;
    background-color: #18284b;
    min-height: 100px;
}

.footer a:link, .footer a:visited, .footer a:hover, .footer a:active  {
    color: #ffffff;
}
